*{
    border-style: none;
    margin: 0;

}


.topo{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(144, 144, 150);
    width: 100%;
    
}

.logoSistemy{
    justify-content: flex-start ;
}

.logoBrastem{
    
}




