*{
    border-style: none;
    margin: 0;

    
}

body{
    background-color: #565657 ;
    border-left: 35%;
    
      
}

.logo{
    height: 320px;
    margin-bottom: -80px;
    margin-top: -50px;

}


div{
    
    background-color: #BBBFCA;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-color: #BBBFCA;
    box-shadow: 15px;
    
    
}

label{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #565657;

}

input{
    border: none;
    background-color: #d0d2d6 ;
    height: 40px;
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    color: #565657;
}

.btnLogin{
    padding: 10px 5px;
}

